.banner{
        background-image: url(homeimg.jpg);
        height: 400px;
        background-size: cover;
        background-position:center center ;
}


.home-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
}