.product-cart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productcart-img{
    object-fit: contain;
    width: 100px;
    height: 200px;
    border:1px solid orange;

}
.productcart-title{

}
.productcart-info{
    padding-left: 20px;
}
.productcart-price{

}
.product-cart button{
    background-color: orange;
    border:1px solid;
    margin-top: 10px;
}
.qty{
    display: flex;
   
}
.add-qty , .del-qty{
    text-align: center;
    padding: 3px;
    border: 1px solid;
    border-radius: 3px;
    margin: 2px;
    width: 20px;
    font-weight: bold;
    color: orange;
    cursor: pointer;
}
.qty-value{
    margin: 3px;
}